


body{
    display: flex; 
    justify-content: center;
    align-items: start; 
    background-image: url("https://www.middleeasteye.net/sites/default/files/images-story/one_night_in_al-aqsa_reflection.png");
}
hr{
    color: red;
}
.cust{
    height: 405px;
    width: 450px;
    background-color: #1f2a38;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding-top: 45px;
}
.cust h1{
    color: #ffffff;
}
.cust h2{
    color:#4adf86;
}
.cus label{
    color: #ffffff;
}
.cust form{
    color: #ffffff;
}
input[type=number], select {
    width: 70%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.sepi{
    width: 90px;
    background-color: red;
}
.fram{
    height: 450px;
    width: 450px;
    background-color: #1f2a38;
    border-radius: 10px;
}
h1 span{
    display: block;
    color: #4adf86;
}
.cirnel{
    margin-left: 40px;
    height:229px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 70px;
    
}
.cirnel h1{
    color: #ffffff;
    margin-top: 0px;
}
.cirnel p{
    color: #bfbfc4;
    margin-top: 0px;
    margin-bottom: 40px;
}
.cirnel button{
    width: 150px;
    height: 40px;
    background-color: #10b981;
    border-radius: 9px;
    border: none;
    color: #ffffff;
}
.result{
    background-color:#1f2a38;
    height: 140px;
    display:flex;
    
    padding: 0px;
}
.result p {
    width: 200px;
    height: 30px;
    background-color: #273549;
    border-radius: 9px;
    margin-left: 10px;
    color: #52ed8c;
    text-align: center;
    padding:10px 2px;
}
#sep{
    background-color: #2b394c;
    height: 2px;
    width: 380px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}




/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 0px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left:60px;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.result #lableCopy{
    margin-top: 17px;
    margin-left: 0px;
    padding: 2px;
    width: 70px;
    height: 30px;
    border-radius: 10px;
    background-color: #1f2a38;
    color: #bfbfc4;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}